_build/.db
_build/.digest-db
_build/.filesystem-clock
_build/log

_build/.sandbox
_build/default/.dune
_build/default/.merlin-conf
_build/default/.ppx
_build/default/.test.eobjs
_build/default/sparc
_build/default/test*
_build/default/ui
_build/default/dune*

_build/default/*.exe
_build/default/*.md
_build/default/*.ml
_build/default/*.mll
_build/default/*.mly
_build/default/*.pdf
_build/default/*.txt
_build/default/transpile.bc-for-jsoo
_build/default/.gitignore