@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Inconsolata&family=Noto+Sans&family=Ubuntu+Mono&family=VT323&display=swap');

* {
  position: relative;
}

body {
  font-family: 'Noto Sans', sans-serif;

  --accent  : purple;
  --title   : purple;
  --subtitle: grey;
  --button  : #a592a5;
  --footer  : grey;

  --title-font: 'Comfortaa', sans-serif;
  --code-font : 'Ubuntu Mono', monospace;
}

body.fun {
  --code-font: 'VT323', monospace;
}

::selection {
  background-color: var(--accent);
  color           : #fff;
}

a {
  color             : var(--accent);
  /* text-decoration: none; */
}

button {
  cursor               : pointer;
  padding              : 0.25em 0.45em;
  font-size            : 1em;
  color                : var(--button);
  background-color     : transparent;
  border               : 1px solid var(--button);
  border-radius        : 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius   : 5px;
  -ms-border-radius    : 5px;
  -o-border-radius     : 5px;
  -moz-border-radius   : 10%;
}

header,
main,
footer {
  margin: auto;
  width : min(90%, 750px);
}

header {
  margin-top   : 3em;
  margin-bottom: 1em;
}

header #title {
  font-size  : 1.5em;
  color      : var(--title);
  font-family: var(--title-font);
}

header #by {
  margin-top: 0.5em;
  font-size : 0.8em;
  color     : var(--subtitle);
}

header #fun {
  position: absolute;
  top     : 0;
  right   : 0;
  width   : 2em;
}

/* https://codepen.io/mallendeo/pen/QWKrEL */
.tgl {
  display: none;
}

.tgl,
.tgl:after,
.tgl:before,
.tgl *,
.tgl *:after,
.tgl *:before,
.tgl+.tgl-btn {
  box-sizing: border-box;
}

.tgl::-moz-selection,
.tgl:after::-moz-selection,
.tgl:before::-moz-selection,
.tgl *::-moz-selection,
.tgl *:after::-moz-selection,
.tgl *:before::-moz-selection,
.tgl+.tgl-btn::-moz-selection {
  background: none;
}

.tgl::selection,
.tgl:after::selection,
.tgl:before::selection,
.tgl *::selection,
.tgl *:after::selection,
.tgl *:before::selection,
.tgl+.tgl-btn::selection {
  background: none;
}

.tgl+.tgl-btn {
  outline            : 0;
  display            : block;
  width              : 2em;
  height             : 2em;
  position           : relative;
  cursor             : pointer;
  -webkit-user-select: none;
  -moz-user-select   : none;
  -ms-user-select    : none;
  user-select        : none;
}

.tgl+.tgl-btn:after,
.tgl+.tgl-btn:before {
  position: relative;
  display : block;
  content : "";
  width   : 50%;
  height  : 100%;
}

.tgl+.tgl-btn:after {
  left: 0;
}

.tgl+.tgl-btn:before {
  display: none;
}

.tgl:checked+.tgl-btn:after {
  left: 50%;
}

.tgl-flip+.tgl-btn {
  padding           : 2px;
  transition        : all 0.2s ease;
  font-family       : sans-serif;
  perspective       : 100px;
  -webkit-transition: all 0.2s ease;
  -moz-transition   : all 0.2s ease;
  -ms-transition    : all 0.2s ease;
  -o-transition     : all 0.2s ease;
}

.tgl-flip+.tgl-btn:after,
.tgl-flip+.tgl-btn:before {
  display                    : inline-block;
  transition                 : all 0.4s ease;
  width                      : 100%;
  text-align                 : center;
  position                   : absolute;
  line-height                : 2em;
  font-weight                : bold;
  color                      : #fff;
  position                   : absolute;
  top                        : 0;
  left                       : 0;
  -webkit-backface-visibility: hidden;
  backface-visibility        : hidden;
  border-radius              : 4px;
}

.tgl-flip+.tgl-btn:after {
  content          : attr(data-tg-on);
  background       : #eee;
  transform        : rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  -moz-transform   : rotateY(-180deg);
  -ms-transform    : rotateY(-180deg);
  -o-transform     : rotateY(-180deg);
}

.tgl-flip+.tgl-btn:before {
  background: #eee;
  content   : attr(data-tg-off);
}

.tgl-flip+.tgl-btn:active:before {
  transform        : rotateY(-20deg);
  -webkit-transform: rotateY(-20deg);
  -moz-transform   : rotateY(-20deg);
  -ms-transform    : rotateY(-20deg);
  -o-transform     : rotateY(-20deg);
}

.tgl-flip:checked+.tgl-btn:before {
  transform        : rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform   : rotateY(180deg);
  -ms-transform    : rotateY(180deg);
  -o-transform     : rotateY(180deg);
}

.tgl-flip:checked+.tgl-btn:after {
  transform        : rotateY(0);
  left             : 0;
  background       : #edc6c4;
  -webkit-transform: rotateY(0);
  -moz-transform   : rotateY(0);
  -ms-transform    : rotateY(0);
  -o-transform     : rotateY(0);
}

.tgl-flip:checked+.tgl-btn:active:after {
  transform        : rotateY(20deg);
  -webkit-transform: rotateY(20deg);
  -moz-transform   : rotateY(20deg);
  -ms-transform    : rotateY(20deg);
  -o-transform     : rotateY(20deg);
}

main {
  margin-top   : 1em;
  margin-bottom: 1em;
}

main>div {
  margin: 1em auto;
}

#notes_title {
  font-family  : var(--title-font);
  margin-bottom: 0.5em;
}

.note {
  font-size: 0.8em;
}

#original_title {
  font-family: var(--title-font);
}

#original_code {
  margin : 0.5em auto;
  padding: 1em;

  background-color: #f5f2f0;

  font-family: var(--code-font);
  line-height: 1.1;
}

#original_code:empty:before {
  content: attr(placeholder);
  color  : #555;
}

#original_code::selection {
  text-shadow: none;
  background : #b3d4fc;
  color      : #000;
}

.original_action {
  display     : inline-block;
  margin-right: 1em;
  font-size   : 0.7em;
  color       : var(--button);
}

.original_action input {
  width    : 2em;
  font-size: 0.7em;
}

.original_action span {
  display      : inline-block;
  width        : 1.75em;
  text-align   : center;
  border-bottom: 1px solid;
}

#processed_title {
  font-family: var(--title-font);
}

pre,
code {
  font-family: var(--code-font) !important;
  line-height: 1.1 !important;
}

pre::selection,
code::selection {
  text-shadow: none;
  background : #b3d4fc;
  color      : #000;
}

footer {
  font-size : 0.8em;
  color     : var(--footer);
  text-align: center;
}